<div *ngIf = "user">

	<h2 class ="page header" *ngIf="user.confirmed">{{user.name}} <small>confirmed</small></h2>
	<h2 class ="page header" *ngIf="!user.confirmed">{{user.name}} <small>NOT confirmed</small></h2>
	<div class = "row">
		<div class = "col-md-4">
			<img style="width:100%" class="thumbnail" src="{{imageUrl}}">
		</div>
		<div class = "col-md-8">
			<ul class ="list-group">
				<li class = "list-group-item">Email: {{user.email}}</li>
				<li class = "list-group-item">Phone: {{user.phone}}</li>
				<li class = "list-group-item">Role: {{user.role}}</li>
				<li class = "list-group-item">signupDate: {{user.signupDate}}</li>
				<li class = "list-group-item">lastLoginDate: {{user.lastLoginDate}}</li>
				
				
			</ul>
		
		</div>
		<a class="btn btn-default" [routerLink] = "['/users']">Go back </a>
		<a class="btn btn-default" [routerLink] = "['/edit-user/'+user.$key]">Edit</a>
		<a (click)="onUserDelete()" class = "btn btn-danger" >Delete</a>
	</div>
</div>
