<h2 class="page-header">Add Event</h2>

<form (submit)="onEventAddSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" type="text" [(ngModel)]="name" name="name" required>
  </div>
  <div class="row">
	  <div class="col-xs-4">
    <label>active</label>
    <select class="form-control" type="text" [(ngModel)]="active" name="active" required>
      <option value="true">TRUE</option>
      <option value="false">FALSE</option>
    </select>
  </div>
	  <div class="col-xs-4">
    <label>StartDate</label>
    <input class="form-control" type="date" [(ngModel)]="startDate" name="startDate" required>
  </div>
  <div class="col-xs-4">
    <label>EndDate</label>
    <input class="form-control" type="date" [(ngModel)]="endDate" name="endDate" >
  </div>
  </div>
  <div class="row">
	  <div class="col-xs-4">
    <label>nePointLat</label>
    <input class="form-control" type="number" [(ngModel)]="nePointLat" name="nePointLat" value="0" min="-90" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  <div class="col-xs-4">
    <label>nePointLon</label>
    <input class="form-control" type="number" [(ngModel)]="nePointLon" name="nePointLon" value="0" min="-180" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  </div>
  <div class="row">
	  <div class="col-xs-4">
    <label>sePointLat</label>
    <input class="form-control" type="number" [(ngModel)]="sePointLat" name="sePointLat" value="0" min="-90" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  <div class="col-xs-4">
    <label>sePointLon</label>
    <input class="form-control" type="number" [(ngModel)]="sePointLon" name="sePointLon" value="0" min="-180" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  </div>
  <div class="row">
	  <div class="col-xs-4">
    <label>swPointLat</label>
    <input class="form-control" type="number" [(ngModel)]="swPointLat" name="swPointLat" value="0" min="-90" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  <div class="col-xs-4">
    <label>swPointLon</label>
    <input class="form-control" type="number" [(ngModel)]="swPointLon" name="swPointLon" value="0" min="-180" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  </div>
  <div class="row">
	  <div class="col-xs-4">
    <label>nwPointLat</label>
    <input class="form-control" type="number" [(ngModel)]="nwPointLat" name="nwPointLat" value="0" min="-90" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  <div class="col-xs-4">
    <label>nwPointLon</label>
    <input class="form-control" type="number" [(ngModel)]="nwPointLon" name="nwPointLon" value="0" min="-180" step="0.000001" data-number-to-fixed="6" data-number-stepfactor="10" required>
  </div>
  </div>
  <div class="form-group">
    <label>notes</label>
    <input class="form-control" type="text" [(ngModel)]="notes" name="notes" required>
  </div>
  
  <a class="btn" [routerLink]="['/events']">Back</a>
  <input type="submit" value="submit" class="btn btn-success">
</form>


